

  
   


     <h1>Kategoriler </h1>
     {%for tree in tree %}
     {%if tree.parent_id is null %}
     <li class="list-group-item list-group-item-primary">{{tree.title}}</li>
    {%endif%}
     {%for sub_cats in tree%}
     {%for sub_cats in sub_cats %}
     {%if tree.sub_cats != null %}
    
     <ul> {{sub_cats.title}} </ul>{%endif%}
      
          {%endfor%}

     
  
 {%endfor%}
{%endfor%}




      



