<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>E-ticaret sitemize hoş geldiniz </h1>

       <p>KATEGORİ ADI : {{title}} </p>
       <p>KATEGORİ AÇIKLAMASI : {{description}} </p>
      
       

        {# ... #}
    </body>
</html>