
{{ form_start(form) }}
<form class="form-horizontal" name="order" action="{{ path('orders_new') }}" method="post">
        <div class="control-group" col-sm-5>
            <input class="shopBtn" type="submit" value="SATIN AL"/>
        </div>
    </fieldset>
</form>